<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form method="POST">
        <div>
            <label>Customer Name</label>
            <inpt type="text"/>
        </div>
        <div>
            <label>Sitting Type</label>
            <input type="radio"/>Indoors
            <input type="radio"/>Outdoors
            <input type="radio"/>Smoking
        </div>
        <div>
            <label>Time</label>
            <input type="radio"/>Morning
            <input type="radio"/>Afternoon
            <input type="radio"/>Evening
        </div>
        <div>
            <label>Services</label>
            <input type="checkbox"/>Wet Napkins
            <input type="checkbox"/>Free flow drinks
            <input type="checkbox"/>Baby Seats
        </div>
        <div>
            <label>How did you hear about us</label>
            <select>
                <option>Word of mouth</option>
                <option>Social media</option>
                <option>Reviews</option>
            </select>
        </div>
    </form>
</body>
</html>