<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form method="POST" action="{{url_for('process_booking')}}">
        <div>
            <label>Customer Name</label>
            <input type="text" name="customer-name"/>
        </div>
        <div>
            <label>Seating Type</label>
            <input type="radio" name="seating-type" value="indoors" checked/>Indoors
            <input type="radio" name="seating-type" value="outdoors"/>Outdoors
            <input type="radio" name="seating-type" value="smoking"/>Smoking
        </div>
        <div>
            <label>Time</label>
            <input type="radio" name="time-period" value="morning" checked/>Morning
            <input type="radio" name="time-period" value="afternoon"/>Afternoon
            <input type="radio" name="time-period" value="evening"/>Evening
        </div>
        <div>
            <label>Services</label>
            <input type="checkbox" name="services" value="wet-napkins"/>Wet Napkins
            <input type="checkbox" name="services" value="free-flor-drink"/>Free flow drinks
            <input type="checkbox" name="services" value="baby-seats"/>Baby Seats
        </div>
        <div>
            <label>How did you hear about us</label>
            <select name="hear-about">
                <option value="word-of-mouth" selected>Word of mouth</option>
                <option value="social-media">Social media</option>
                <option value="reviews">Reviews</option>
            </select>
        </div>
        <input type="submit" value="Make booking"/>
    </form>
</body>
</html>